{% extends 'base.html' %}

{% block content %}

    <!-- About section-->
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8 justify-content-center p-5 rounded text-center bg-white text-dark">
                    <h2 class="pb-5">About CASP</h2>
                    <p class="lead" align="justify">
                        <u> <b>CASP</b></u>  or <u>Catalogue of Associations between SNPs and Phenotypes</u>  is a website designed
                        to find all the recent <b> human genome </b>  <u>SNPs</u>  and <u>phenotypes</u>  mentioned in literature and their
                        corresponding <u>associations</u> .
                        It is a convenient way to quickly find all the needed information in one well structured place.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block specific_js %}
    {% load static %}
    <script src="{% static 'js/info.js' %}"></script>
{% endblock specific_js %}