<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{{ title }}</title>

    <!-- Loading css links -->
    {% include 'base_css_load.html' %}

</head>
<body class="{{body_class}}" id="page-top">

<!-- Loading navbar -->
{% include 'base_navbar.html' %}

<!-- Block for extension -->
{% block content %}
{% endblock content %}

<!-- Footer-->
<footer class="py-2 bg-dark fixed-bottom">
    <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; CASP 2022</p></div>
</footer>

{% include 'base_js_load.html' %}

<!-- Block for specific js -->
{% block specific_js %}
{% endblock specific_js %}

</body>
</html>