{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-10 p-5 text-center bg-white rounded">
                <div id="autocomplete" class="autocomplete">
                    <label for="pheno" class="h1 mb-5">Search phenotype</label>
                    <input class="autocomplete-input mt-5" id="pheno" placeholder="Search phenotype"/>
                    <ul class="autocomplete-result-list"></ul>
                </div>
                <div class="text-start mt-2">Type at least 3 characters to start searching.</div>
                <div class="text-start mt-2">Examples :
                    <a href="/phenotype/details/Abdominal aortic aneurysm/">Abdominal aortic aneurysm </a>,
                    <a href="/phenotype/details/Heart rate/">Heart rate </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{%  block specific_js %}
    {% load static %}
    <script src="{% static 'js/phenotype_search.js' %}"></script>
{% endblock specific_js %}
