{% extends 'base.html' %}

{% block content %}

    <h1 class="mt-5 pt-5 mb-5 text-center"> {{ name }} </h1>

    <div class="container p-2 mb-5">
        <table id="phenotype_details_table" class="table table-striped table-bordered">
            <thead class="table-dark text-center">
                <th> Related phenotype <i class="bi bi-info-circle text-info"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Rsid of the variant proven to have an association with the phenotype"></i></th>
                <th> Study article <i class="bi bi-info-circle text-info"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Pubmedid and link of the study article mentioning the association between the phenotype and the variant"></i></th>
                <th> P-value <i class="bi bi-info-circle text-info"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Reported p-value for strongest SNP risk allele (linked to dbGaP Association Browser)"></i></th>
                <th> -log10 (P-value) </th>
            </thead>
            <tbody>
                {% for detail in details %}
                    <tr>
                    <td><a target="_blank" rel="noopener noreferrer"
                           href="/snp/details/{{ detail.SNP_id }}/">
                        {{ detail.SNP_id }}</a></td>
                    <td> <a target="_blank" rel="noopener noreferrer"
                            href="https://pubmed.ncbi.nlm.nih.gov/{{ detail.Reference_id }}/" >
                        {{ detail.Reference_id }}</a></td>
                    <td>{{ detail.Pvalue|stringformat:".2e" }}</td>
                    <td>{{ detail.Neglog10pvalue }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready( function () {
        $('#phenotype_details_table').DataTable({
            "scrollX": true,
            "autoWidth": false,
            fixedColumns: true,
        });
    });
    </script>

{% endblock content %}