{% extends 'base.html' %}

{% block content %}

    <h1 class="mt-5 pt-5 text-center"> Phenotype search </h1>
    <p class="text-center mt-2"> Here you can search the different phenotypes present in the database </p>

    <div class="container border border-2 p-2">
        <table id="phenotype_table" class="display">
            <thead>
                <tr>
                    <th> Phenotype name </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>



    <script>
        $(document).ready( function () {
        $('#phenotype_table').DataTable({
            serverSide: true,
            sAjaxSource: "{% url 'pheno_json' %}",  // new url
            columns: [
                {data: 0, render: function (data) {return '<a href="/">' + data + '</a>';},}
            ],
        });
    });
    </script>

{% endblock content %}