{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5 pt-5 mb-5 pb-5">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-10 p-5 text-center bg-white rounded">
                <div id="autocomplete" class="autocomplete">
                     <div class="mb-5 pt-2 pb-2 bg-dark bg-gradient text-white rounded">
                        <label for="pheno" class="h1">Search phenotype</label>
                        <p class="text-center"> Here you can search the different phenotypes present in the database </p>
                     </div>
                    <input class="autocomplete-input mt-2" id="pheno" placeholder="Search phenotype">
                    <ul class="autocomplete-result-list"></ul>
                </div>
                <div class="text-start mt-2">Type at least 3 characters to start searching.</div>
                <div class="text-start mt-2">Examples :
                    <a href="/phenotype/details/Abdominal%20aortic%20aneurysm/">Abdominal aortic aneurysm </a>,
                    <a href="/phenotype/details/Heart%20rate/">Heart rate </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Filling containers -->
    <div class="mb-4 pb-4">
    </div>
    <div class="mb-1 pb-1">
    </div>

{% endblock content %}

{%  block specific_js %}
    {% load static %}
    <script src="{% static 'js/phenotype_search.js' %}"></script>
{% endblock specific_js %}
