{% extends 'base.html' %}

{% block content %}

    <h1 class="mt-5 pt-5 mb-5 text-center"> {{ name }} </h1>

    <div class="container border border-2 p-2">
        <table id="phenotype_details_table" class="display">
            <thead>
                <th> Rsid </th>
                <th> Pubmedid </th>
                <th> P_val </th>
                <th> P_val_Mlog </th>
            </thead>
            <tbody>
                {% for detail in details %}
                    <tr>
                    <td><a target="_blank" rel="noopener noreferrer"
                           href="/snp/details/{{ detail.SNP_id }}/">
                        {{ detail.SNP_id }}</a></td>
                    <td> <a target="_blank" rel="noopener noreferrer"
                            href="https://pubmed.ncbi.nlm.nih.gov/{{ detail.Reference_id }}/" >
                        {{ detail.Reference_id }}</a></td>
                    <td>{{ detail.Pvalue }}</td>
                    <td>{{ detail.Neglog10pvalue }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready( function () {
        $('#phenotype_details_table').DataTable({
            "scrollX": true,
            "autoWidth": false,
            fixedColumns: true,
        });
    });
    </script>

{% endblock content %}