{% extends 'base.html' %}

{% block content %}

    <h1 class="mt-5 pt-5 text-center"> Welcome to Phenotype search !</h1>
    <p class="text-center mt-2"> Here you can search the different phenotypes present in the database </p>

    <table id="phenotype_table" class="display">
        <thead>
            <tr>
                <th> Phenotype name </th>
            </tr>
        </thead>
            <tr>
                <td> dsqdq </td>
            </tr>
            <tr>
                <td> yjyjy </td>
            </tr>
            <tr>
                <td> opopp </td>
            </tr>
        <tbody>

        </tbody>
    </table>

    <script>
        $(document).ready( function () {
        $('#phenotype_table').DataTable();
    });
    </script>

{% endblock content %}