{% extends 'base.html' %}

{% block content %}

    <h1 class="text-center mt-5 pt-5"> SNP search </h1>
    <p class="text-center"> Here you can search the different SNPs present in the database </p>
    <div class="container pt-2 mb-5">
        <div class="row justify-content-center">
            <div class="col-10">
                <table id="snp_table" class="table table-striped table-bordered shadow-lg rounded">
                    <thead class="table-dark rounded">
                    <tr id="snp_inputs">
                        <th> SNP <i class="bi bi-info-circle text-info"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Rsid of the variant"></i>
                            <br> <input type="text" class="mt-2" placeholder="Search rsid"/></th>
                        <th> Chromosome <i class="bi bi-info-circle text-info"
                                           data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Name of the chromosome containing the variant"></i>
                            <br> <input type="text" class="mt-2" placeholder="Search chromosome"/></th>
                        <th> Chromosome position <i class="bi bi-info-circle text-info"
                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Exact position of the variant inside the containing chromosome"></i>
                            <br> <input type="text" class="mt-2" placeholder="Search position"/></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock content %}

{% block specific_js %}
    {% load static %}
    <script src="{% static 'js/snp.js' %}"></script>
{% endblock specific_js %}