{% extends 'base.html' %}

{% block content %}

    <h1 class="text-center mt-5 pt-5"> SNP search </h1>
    <p class="text-center"> Here you can search the different SNPs present in the database </p>
    <div class="container border border-2 pt-2">
        <table id="snp_table" class="display">
            <thead>
                <tr>
                    <th> Rsid </th>
                    <th> Chromosome name </th>
                    <th> Chromosome position </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


    <script>
        $(document).ready( function () {
        $('#snp_table').DataTable({
            serverSide: true,
            sAjaxSource: "{% url 'snp_json' %}",  // new url
            columns: [
                {name: "Rsid", data: 2},
                {name: "Chrom", data: 0},
                {name: "Chrom_pos", data: 1},
            ],
        });
    });
    </script>

{% endblock content %}