{% extends 'base.html' %}

{% block content %}

    <h1 class="text-center mt-5 pt-5"> SNP search </h1>
    <p class="text-center"> Here you can search the different SNPs present in the database </p>
    <div class="container border border-2 pt-2 mb-5 bg-light">
        <table id="snp_table" class="table table-striped table-light">
            <thead>
                <tr>
                    <th> Rsid </th>
                    <th> Chromosome name </th>
                    <th> Chromosome position </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
            <tr>
                <th> Rsid </th>
                <th> Chromosome name </th>
                <th> Chromosome position </th>
            </tr>
        </tfoot>
        </table>
    </div>


    <script>
        $(document).ready( function () {
            // Setup - add a text input to each footer cell
            $('#snp_table tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });
            {#// Prepend search fields to header#}
            {#$('#snp_table tfoot tr').prependTo('#snp_table thead');#}

            var table = $('#snp_table').DataTable({
                processing: true,
                serverSide: true,
                sAjaxSource: "{% url 'snp_json' %}",  // new url
                columns: [
                    {name: "Rsid",data: 0, render: function (data)
                        {return '<a target="_blank" rel="noopener noreferrer" ' +
                            'href="/snp/details/'+ data +'">' + data + '</a>';},},
                    {name: "Chrom", data: 1},
                    {name: "Chrom_pos", data: 2},
                ],
                initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                        var that = this;
                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
                },
            });
        });
    </script>

{% endblock content %}