{% extends 'details.html' %}

{% block info %}
    <div class="col-6">
        <b>Chromosome : </b>
        {{ snp.Chrom }}
    </div>
    <div class="col-6">
        <b>Chromosome position : </b>
        {{ snp.Chrom_pos }}
    </div>
    <div class="col-6">
        <b>Number of phenotype associations : </b>
        {{ details|length }}
    </div>
    <div class="col-6">
        <b>Number of related studies : </b>
        {{ studies }}
    </div>
    <div class="col-6">
        <b>Strongest association(s) : </b>
        {% if phenotype_min_pvalue|length == 1 %}

            <a target="_blank" rel="noopener noreferrer"
               href="/phenotype/details/{{ phenotype_min_pvalue.first.Disease_trait_id }}/">
                {{ phenotype_min_pvalue.first.Disease_trait_id }} </a>

        {% else %}

            {% for phenotype in phenotype_min_pvalue %}
                <a target="_blank" rel="noopener noreferrer"
                   href="/phenotype/details/{{ phenotype.Disease_trait_id }}/">
                    {{ phenotype.Disease_trait_id }} </a>,
            {% endfor %}

        {% endif %}
    </div>
    <div class="col-6">
        <b>Corresponding p-value : </b>
        {{ min_pvalue.Pvalue__min|stringformat:".2e" }}
    </div>
{% endblock info %}

{% block table %}
    <table id="snp_details_table" class="table table-striped table-bordered shadow-lg rounded">
        <thead class="table-dark">
        <tr>
            <th> Related phenotype <i class="bi bi-info-circle text-info"
                                      data-bs-toggle="tooltip" data-bs-placement="top"
                                      title="Name of the phenotype proven to have an association with the variant"></i>
            </th>
            <th> Study article <i class="bi bi-info-circle text-info"
                                  data-bs-toggle="tooltip" data-bs-placement="top"
                                  title="Pubmedid and link of the study article mentioning the association between the variant and the phenotype"></i>
            </th>
            <th> P-value <i class="bi bi-info-circle text-info"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Reported p-value for strongest SNP risk allele (linked to dbGaP Association Browser)"></i>
            </th>
            <th> -log10 (P-value)</th>
        </tr>
        </thead>
        <tbody>
        {% for detail in details %}
            <tr>
                <td><a target="_blank" rel="noopener noreferrer"
                       href="/phenotype/details/{{ detail.Disease_trait_id }}/">
                    {{ detail.Disease_trait_id }} </a></td>
                <td><a target="_blank" rel="noopener noreferrer"
                       href="https://pubmed.ncbi.nlm.nih.gov/{{ detail.Reference_id }}/">
                    {{ detail.Reference_id }} </a></td>
                <td>{{ detail.Pvalue|stringformat:".2e" }}</td>
                <td>{{ detail.Neglog10pvalue }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock table %}

{% block specific_js %}
    {% load static %}
    <script src="{% static 'js/snp_details.js' %}"></script>
{% endblock specific_js %}

