{% extends 'base.html' %}

{% block content %}



    <form action="" method="post" class="mt-5 pt-5 text-center" enctype="multipart/form-data" id="upload_form">
        {% csrf_token %}
        <div class="container p-2">
            <div class="row mb-3 justify-content-center text-center">
                <div class="col-4">
                    <div class="alert alert-success visually-hidden" role="alert" id="success">

                    </div>
                </div>
            </div>
            <div class="row mb-3 justify-content-center text-center">
                <div class="col-8">
                    <div class="alert alert-danger visually-hidden" role="alert" id="error">

                    </div>
                </div>
            </div>
            <div class="row mb-3 justify-content-center text-center">
                <div class="col-">
                    <button class="btn btn-primary btn-lg visually-hidden" type="button" disabled id="waiting">
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Please wait while your data is being uploaded to database ...
                    </button>
                </div>
            </div>
            <div class="row justify-content-center text-start">
                <div class="col-4 p-4 border border-4 rounded-3 bg-white">
                    <h1 class="mb-5 pb-5 text-center"> File Upload </h1>
                    <i class="bi bi-file-earmark-arrow-up"></i> {{ form.file.label }}
                    {{ form.file }}
                    <div class="mt-3 justify-content-center text-center">
                        <input type="submit" value="Submit" class="btn btn-dark" id="submit_button">
                    </div>
                </div>
            </div>
        </div>

    </form>

    <script>
        $(document).ready(function () {
            $("label").addClass("form-label");
            $("#id_file").addClass("form-control mt-4");
            $("#page-top").addClass("bg-dark");
        });
    </script>

    <script>
        $(document).on('submit', "#upload_form", function (e) {
            e.preventDefault();
            $('#waiting').removeClass("visually-hidden");
            $('#success').addClass("visually-hidden");
            $('#error').addClass("visually-hidden");
            var data = new FormData();
            data.append('file', $("input[id^='id_file']")[0].files[0]);
            data.append('csrfmiddlewaretoken', "{{ csrf_token }}");
            $.ajax({
                url: "{% url 'upload' %}",
                type: 'POST',
                method: 'POST',
                processData: false,
                contentType: false,
                data: data,
                success: function (data) {
                    document.getElementById('upload_form').reset();
                    if (data["error"] !== "") {
                        $('#waiting').addClass("visually-hidden");
                        $('#success').addClass("visually-hidden");
                        $('#error').removeClass("visually-hidden");
                        $('#error').html(data["error"]);
                    } else {
                        $('#waiting').addClass("visually-hidden");
                        $('#error').addClass("visually-hidden");
                        $('#success').removeClass("visually-hidden");
                        $('#success').html(data["success"]);
                    }
                    $('#id_file').attr("value", "");
                },
                error: function () {
                    console.log("error")
                }
            })

        })
    </script>

{% endblock content %}